h1 {
    font-size: 100px;
    color: coral;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: 756px;
    width: 1152px;
    background-image: url(https://site-547756.mozfiles.com/files/547756/medium/Moose3.jpg);
}